* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: red;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 330px;
  border: 2px solid salmon;
  border-radius: 20px;
}

#card1 {
  transform: translate(-50%, -50%);
  z-index: 4;
  background-image: url(https://images.unsplash.com/photo-1464863979621-258859e62245?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#card2 {
  transform: translate(-50%, -50%) rotate(-5deg);
  z-index: 3;
  background-image: url(https://images.unsplash.com/photo-1516726817505-f5ed825624d8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#card2:hover {
  z-index: 10;
}

#card3 {
  transform: translate(-50%, -50%) rotate(-10deg);
  z-index: 2;
  background-image: url(https://images.unsplash.com/photo-1467632499275-7a693a761056?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#card3:hover {
  z-index: 10;
}

#card4 {
  transform: translate(-50%, -50%) rotate(-15deg);
  z-index: 1;
  background-image: url(https://images.unsplash.com/photo-1440589473619-3cde28941638?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#card4:hover {
  z-index: 10;
}

